@model DBMSWebApp.Models.CartesianViewModel
@{
    ViewData["Title"] = "Cartesian";
}

<h1>Cartesian</h1>

<h4>Tables</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="CartesianProduct">
            <div class="text-danger"  asp-validation-summary="All" ></div>
            <div class="form-group">
                <label class="control-label" asp-for="FirstTable">First Table</label>
                <select id="firstTable" class="form-control" asp-for="FirstTable" asp-items="ViewBag.Tables"></select>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="SecondTable">Second Table</label>
                <select id="secondTable" class="form-control" asp-for="SecondTable" asp-items="ViewBag.Tables"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Cartesian Product" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-databaseId="@ViewBag.DatabaseId">Back to List</a>
</div>

