<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDBMSService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/DBMSRemoting/DBMSService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDBMSService"
                contract="ServiceReference1.IDBMSService" name="BasicHttpBinding_IDBMSService" />
        </client>
    </system.serviceModel>
</configuration>